@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: PSV-BoldItalic;
    src: url("/public/fonts/PSVBranding-BoldItalic.otf") format("opentype");
}

@font-face {
    font-family: Klavika-Regular;
    src: url("/public/fonts/Klavika-Regular.otf") format("opentype");
}

@font-face {
    font-family: Klavika-Bold;
    src: url("/public/fonts/klavika-Bold.otf") format("opentype");
}

body {
  margin: 0;
  font-family: 'Klavika-Regular', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/public/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* custom css */

.logo-home {
  font-family: 'PSV-BoldItalic', 'sans-serif';
}

.active {
  background-color: #F50000;
}
